{% extends "base.html" %}

{% block content %}

<h2>Terms of use</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus error porro iste repudiandae, ipsum perferendis provident ex tempore quia fuga neque alias facere quam suscipit nemo quos consectetur cupiditate maiores dolorem ducimus ut minima ratione. Saepe, perspiciatis earum odio incidunt animi dolor numquam doloribus libero quaerat rerum? Nihil quibusdam deserunt cumque molestiae eaque, vel, quidem animi architecto, dolore pariatur accusamus quaerat corrupti eveniet in totam enim ab error! Aliquam mollitia fuga maiores optio nulla quia libero tenetur numquam ratione praesentium.</p>

{% endblock %}
