{% extends "base.html" %}

{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/registration.css' %}">
{% endblock %}

{% block content %}


<div class="registration">
    <div class="registration-title">Fill out the form</div>
    <div class='container registration-inner'>
        <form class="form" action="complete" method="POST" id="registration-form" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="image-input" class="label-image">
                    <img class="image img-fluid" id="image">
                    <div class="image-placeholder">Tap to upload a profile image</div>
                </label>
                <input id="image-input" class="image-input" name="image" type="file" onchange="previewImage(event)"/>
            </div>
            <div class="form-group">
                <label for="business_name" class="col-3 col-form-label form-label">Company name (username):</label>
                <input type="text" required name="business_name" id="business_name" class="form-control col-7" placeholder="Enter company name">
            </div>
            <div class="form-group">
                <label for="business_owner_name" class="col-3 col-form-label form-label"> Name of the representative</label>
                <input type="text" required name="business_owner_name" id="business_owner_name" class="form-control col-7" placeholder="Enter name of the representative">
            </div>
            <div class="form-group">
                <label for="email" class="col-3 col-form-label form-label">Your email:</label>
                <input type="text" required name="email" class='form-control col-7' placeholder="Enter email">
            </div> 
            <div class="form-group">
                <label for="phone" class="col-3 col-form-label form-label">Your phone:</label>
                <input type="text" required name="phone" class='form-control col-7' placeholder="Enter phone">
            </div>
            <div class="form-group">
                <label for="country" class="col-3 col-form-label form-label">Main country of the company:</label>
                <input type="text" required name='country' id='country' class='form-control col-7' placeholder="Enter country">
            </div>
            <div class="form-group">
                <label for="city" class="col-3 col-form-label form-label">Main city of the company:</label>
                <input type="text" required name='city' id='city' class='form-control col-7' placeholder="Enter city">
            </div> 
            <div class="form-group">
                <label for="site" class="col-3 col-form-label form-label">You web-site:</label>
                <input type="text" required name="site" id="site" class='form-control col-7' placeholder="Enter link to your web-site">
            </div>
            <div class="form-group">
                <label for="instagram" class="col-3 col-form-label form-label">You instagram:</label>
                <input type="text" required name="instagram" id="instagram" class='form-control col-7' placeholder="Enter link or username of your instagram">
            </div>
            <div class="form-group">
                <label for="site" class="col-3 col-form-label form-label">You facebook:</label>
                <input type="text" required name="facebook" id="facebook" class='form-control col-7' placeholder="Enter link to your facebook account">
            </div>             
    
            <div class="custom-control custom-checkbox offset-3">
                <input type="checkbox" id="terms-of-use" class="custom-control-input" required>
                <label for="terms-of-use" class="custom-control-label">
                    I have read, understood and accepted
                    <a href="/terms-of-use" target="_blank"> the terms of the user agreement</a>
                </label>
            </div>

            <button type='submit' class='btn btn-lg save-account' id="save-btn">Save account</button>
        </form>
    </div>
</div>

<script src="{% static 'js/link-checkers.js' %}"></script>
<script src="{% static 'js/business-registration.js' %}">

</script>

{% endblock %}
