{% extends "base.html" %}

{% load static %}

{% block base_title %}Login{% endblock %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}

<div class="login-card">
    <div class="form-title">Login</div>
    <div class="custom-alert">
    </div>
    <form class="login-form" action="api/login/complete" method=POST id="login-form">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" required class="login-input" placeholder="Your username" name="username">
            <input type="password" required class="login-input" placeholder="Your password" name="password">
        </div>
        <button type="submit" class="btn btn-login">Login</button>
    </form>
    <div class="help-links">
        <a href="/accounts/password_reset/" class="help-link">Reset password</a>
        <a href="/registration/" class="help-link">Sign up</a>
        <a href="" class="help-link">Common issues</a>
    </div>
</div>

<script src="{% static 'js/login.js' %}"></script>

{% endblock %}