.media-title{
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
}

.media-block-item{
    display: flex;
    font-size: 20px;
}

.statistics{
    border-bottom: none;
}

.birthday-div{
    display: flex;
}