.dashboard-title{
    font-size: 70px;
    text-align: center;
    margin: 20px 0 0;
}

.offer-card{
    position: relative;
    display: block;
    margin: 20px auto 50px;
    border-radius: 10px;
    overflow: hidden;
    z-index: 2;
    padding: 0;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.offer-card:hover .offer-action-buttons{
    height: 50px;
}

.additional-price{
    display: flex;
    justify-content: center;
    background-color: #f8f9fa;
    border-radius: 10px 10px 0 0;
    font-size: 30px;
    font-weight: 500;
}

.offer-card-inner{
    display: flex;
    height: 555px;
    max-height: 555px;
    z-index: 2;
    border-radius: 0 0 10px 10px;
}

.media-part{
    padding: 0;
}

.media-bottom-part{
    display: flex;
}

.image{
    object-fit: cover;
    height: 370px;
    width: auto;
}

.logo-div{
    padding: 0;
}

.name{
    text-align: center;
    display: flex;
    vertical-align: middle;
    padding: 0;
}

.name-text{
    display: block;
    margin: auto auto;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    text-transform: uppercase;
}

.text-part{
    padding: 0;
}

.title-div{
    text-align: center;
    display: flex;
    height: 15%;
    font-size: 40px;
    border-bottom: 1px solid #f8f9fa;
}

.title-inner{
    display: block;
    margin: auto auto;
}

.main-details-div{
    display: flex;
    height: 73%;
    max-height: 73%;
    overflow: hidden;
    font-size: 18px;
}

.description-div{
    padding: 0;
    overflow: hidden;
    border-right: 1px solid #f8f9fa;
}

.conditions-div{
    padding: 0;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
}

.secondary-details-div{
    display: flex;
    height: 12%;
}

.receiving-method{
    padding: 7px 15px;
    border-right: 1px solid #f8f9fa;
}

.delivery-div{
    display: flex;
}

.centered-delivery{
    justify-content: center;
    height: 100%;
    align-items: center;
}

.centered-delivery-icon::before{
    top: 50% !important;
    transform: translateY(-50%);
}

.delivery-label{
    font-size: 16px;
    font-weight: 500;
}

.address-label{
    font-size: 16px;
    font-weight: 500;
}

.column-title{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    height: 10%;
}

.column-content{
    text-align: justify;
    padding: 0 15px;
    overflow: auto;
    max-height: 90%;
}

.delivery{
    margin: 0 3px;
    position: relative;
    font-size: 18px;
}

.delivery::before{
    position: absolute;
    top: 3px;
}

.address-div{
    display: flex;
}

.validity-inner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.validity-label{
    font-size: 16px;
    font-weight: 500;
}

.offer-action-buttons{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f9fa;
    border-radius: 0 0  10px 10px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.2s ease-out;
}

.action-btn{
    border: none;
    background: none;
}

.action-btn:focus{
    outline: none;
}

.action-icon{
    font-size: 50px;
}

.offer-action-title{
    font-size: 18px;
    color: rgba(0,0,0,.5);
}