.base-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #f8f9fa;
}

.login-card{
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding: 30px 55px;
    width: 550px;
    background-color: #fff;
    margin: 30px auto;
    color: #373737;
}

.login-form{
    display: block;
    margin: 130px auto;
}

.login-input{
    display: block;

    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    margin: 20px auto 0;
    padding: .375rem .75rem;

    border: none;
    border-radius: 0;
    border-bottom: 2px solid rgb(117, 117, 117);

    font-size: 20px;

    transition: border-color .1s linear;
}

.login-input::placeholder{
    color: rgb(117, 117, 117);
}

.login-input:focus{
    outline: none;
    border-color: #373737;;
}

.form-title{
    margin-top: 30px;
    font-size: 60px;
    text-align: center;
}

.help-links{
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.help-link{
    display: block;
    color: rgb(117, 117, 117);
}

.help-link:hover{
    color: #373737;
}

.btn-login{
    display: block;
    margin: 30px auto 15px;
    width: 150px;
    font-size: 20px;

    border-radius: 20px;
    border: 2px #373737 solid;
    transition: background-color, color .1s linear;
}

.btn-login:hover{
    background-color: #373737;
    color: #fff;
}

.alert{
    position: relative;
}

.alert-inner{
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}

@media(max-width: 585px){
    .login-card{
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
}

@media(max-width: 450px){
    .login-card{
        padding: 15px 20px;
    }
}

@media(max-width: 360px){
    .help-link{
        font-size: 14px;
    }
}