.fnt-40{
    font-size: 40px;
}

.about-link{
    font-size: 50px;
    color: rgb(77, 76, 76);
    border-bottom: 3px solid rgb(107, 152, 194)
    
}

.about-link:hover{
    text-decoration: none;
    color: #000;
    border-color: #000;
}

.upload-image-icon{
    height:200px;
    cursor: pointer;
}

#image-input{
    display: none;
}
