.fnt-40{
    font-size: 40px;
}

.upload-image-icon{
    height:200px;
    cursor: pointer;
}

#image-input{
    display: none;
}

.navbar{
    background-color: rgb(107, 152, 194);
}

.navbar-collapse{
    
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-block{
    display: flex;
}