.fnt-40{
    font-size: 40px;
}

.navbar{
    background-color: rgb(107, 152, 194);
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-block{
    display: flex;
}

.profile-link{
    padding: 0 !important;
}

.profile-image{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}
