.base-container{
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registration{
    padding-bottom: 50px;
    backdrop-filter: blur(5px);
    font-family: 'Roboto', sans-serif;
}

.registration-title{
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}

.registration-inner{
    width: 900px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 10px;
    background-color:#fff;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.form-group-name{
    position: relative;
    padding: 0;
}

.fa-exclamation-circle{
    position: absolute;
    color: red;
    left: -20px;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 5px;
    display: block;
}

.checkboxes{
    align-items: center;
}

.form-label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 5px;
}

.form-label-image{
    display: flex;
    width: 100%;
}

.form-label-image-title{
    align-content: center;
}

.label-image{
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 20px;
    background-color: #f8f9fa;
    overflow: hidden;
}

.image{
    display: none;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.image-placeholder{
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

#image-input{
    display: none;
}

.save-account{
    display: block;
    margin: 40px auto;

    font-size: 18px;
    border-radius: 20px;
    border: 2px #373737 solid;
    transition: background-color, color .1s linear;
}

.save-account:hover{
    background-color: #373737;
    color: #fff;
}

.custom-form-control{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    line-height: 1.5;

    border: none;
    border-radius: 30px;
    color: #373737;
    background-color: #f8f9fa;
    font-weight: 500;
    padding: 6px 16px;
    transition: border-color, box-shadow, background-color .1s linear;
}

.custom-form-control{
    outline: none;
}

.custom-control{
    padding-left: 1.2rem;
}

.custom-control-label::after,
.custom-control-label::before{
    left: -1.2rem;
}

.spec-checkboxes-block{
    flex-direction: column;
}

.spec-title{
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.spec-checkboxes{
    display: flex;
    flex-wrap: wrap;
    width: 60%;
}

.spec-checkbox-div{
    width: 50%;
}

.birthday-select{
    margin-right: 5px;
    width: 80px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 7px;
    background-color: #f8f9fa;
}

.sex-label{
    margin-right: 1rem;
}

.invalid-field{
    background-color: rgba(255, 0, 0, 0.233);
}

.popover {
    border-radius: 4px;
    font-size: 13px;
    background-color: #f91313;
    opacity: 0.9;
}

.popover-body{
    padding: 5px 10px;
    color: white;
}

.tooltip {
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

.tooltip-inner{
    background-color: #f91313;
}

.social-buttons{
    display: flex;
    justify-content: center;
}

.social-item{
    display: flex;
    align-items: center;
    margin: 0 5px;
    border-radius: 30px;
    background-color: #f8f9fa;
    font-size: 13px;
    font-weight: 500;
    transition: color 0s linear;
}

.social-item:hover{
    color: white;
}

.social-item:hover .social-item-icon{
    fill: white;
}

#google-sign-in-or-out-button:hover{
    background: #ff0000;
}

#facebook-sign-in-or-out-button:hover{
    background-color: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social-item-icon-div{
    position: relative;
    margin: auto 5px auto 0;
    width: 17px;
    height: 17px;
}

.social-item-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 17px;
}

.social-item-text{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 105px;
    white-space: nowrap;
}

.social-item-delete{
    display: flex;
    margin: 0;
}

.social-item-delete-divider{
    margin: 0 5px;
    font-size: 19px;
    font-weight: 100;
    line-height: 1;
}

.social-item-delete-icon-div{
    position: relative;
    margin: auto 0;
    width: 11px;
    height: 11px;
}

.social-item-delete-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
    height: 11px;
}

.activated{
    background-color: #ff0000;
    color: white;
}

.activated:hover{
    color: #282828;
}

.activated:hover .social-item-icon{
    fill: #282828;
}

.activated:hover .social-item-delete-icon{
    fill: #282828;
}

.activated-icon{
    fill: white;
}

.languages-block{
    flex-direction: column;
}

.languages-title{
    font-size: 20px;
    font-weight: 500;
}

.language-input-div{
    display: flex;
    margin-top: 10px;
}

.action-language-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border-radius: 50%;
    padding: 3px;
    width: 38px;
    height: 38px;
    background-color: #fff;
    transition: background-color .1s linear;
}

.add-language-btn{
    border: 2px solid  #373737;
}

.add-language-btn:hover{
    background-color: #373737;
}

.action-language-btn:hover .action-language-btn-icon{
    fill: #fff;
}

.action-language-btn:focus{
    outline: none;
}

.add-language-btn-icon{
    width: 20px;
    height: 20px;
    fill:  #373737;
    transition: fill .1s linear;
}

.remove-language-btn{
    border: 2px solid  #ff0000a3;
}

.remove-language-btn-icon{
    width: 20px;
    height: 20px;
    fill:  #ff0000a3;
    transition: fill .1s linear;
}

.remove-language-btn:hover{
    background-color: #ff0000a3;
}

.language-input{
    width: 350px;
    transition: background-color, .1s linear;
}

.ui-menu{
    background-color: #fff;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    padding-left: 15px;
    list-style-type:none;
    overflow: hidden;
}

.ui-menu-item{
    font-size: 16px;
    line-height: 2.5;
    font-weight: 500;
    text-transform: capitalize;
    border-bottom: 1px solid #f8f9fa;
}

.ui-menu-item:last-child{
    border-bottom: none;
}

.ui-menu-item-wrapper:hover{
    background-color: #f8f9fa;
    border:none;
    color: #373737;
    margin-left: -15px;
    padding-left: 15px;
}

.ui-menu-item-wrapper:hover .ui-menu-item{
    background-color: #f8f9fa;
}

.ui-helper-hidden-accessible{
    display: none;
}
