.registration{
    background-color: #e4e4e4;
    padding-bottom: 50px;
    backdrop-filter: blur(5px);
    font-family: 'Roboto', sans-serif;
}

.registration-title{
    text-align: center;
    align-items: center;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px 0;
}

.registration-inner{
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    border-radius: 20px;
    border-top: 5px solid rgb(107, 152, 194);
    border-bottom: 5px solid rgb(107, 152, 194);
    background-color:#fff;
}

.form-group{
    display: flex;
    margin: 30px 0;
}

.checkboxes{
    align-items: center;
}

.form-label{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.form-label-image{
    display: flex;
    width: 100%;
}

.form-label-image-title{
    align-content: center;
}

.label-image{
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 10px;
    border: 2px solid #000000;
    overflow: hidden;
}

.image{
    display: none;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.image-placeholder{
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    padding: 10px;
}

#image-input{
    display: none;
}

.save-account{
    display: block;
    margin: 40px auto;

    font-size: 18px;
    border-radius: 20px;
    border: 2px #000 solid;
    transition: background-color .1s linear;
}

.save-account:hover{
    background-color: rgb(107, 152, 194);
}

.form-control{
    transition: border-color, box-shadow .1s linear;
}

.invalid-field{
    border-color: #ff000017;
    box-shadow: 0 0 7px #ff0000;
}

.popover {
    border-radius: 4px;
    font-size: 13px;
    background-color: #f91313;
}

.popover-body{
    opacity: 0.9;
    padding: 5px 10px;
    color: white;
}

.tooltip {
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 13px;
}

.tooltip-inner{
    background-color: #f91313;
}

.fa-exclamation-circle{
    color: red;
    margin-right: 3px;
}

.social-buttons{
    display: flex;
}

.social-item{
    display: flex;
    align-items: center;
    margin: 0 5px;
    border-radius: 30px;
    background-color: #f8f9fa;
    font-size: 13px;
    font-weight: 500;
    transition: color 0s linear;
}

.social-item:hover{
    color: white;
}

.social-item:hover .social-item-icon{
    fill: white;
}

#google-sign-in-or-out-button:hover{
    background: #ff0000;
}

#facebook-sign-in-or-out-button:hover{
    background-color: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.social-item-icon-div{
    position: relative;
    margin: auto 5px auto 0;
    width: 17px;
    height: 17px;
}

.social-item-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 17px;
    height: 17px;
}

.social-item-text{
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 105px;
    white-space: nowrap;
}

.social-item-delete{
    display: flex;
    margin: 0;
}

.social-item-delete-divider{
    margin: 0 5px;
    font-size: 19px;
    font-weight: 100;
    line-height: 1;
}

.social-item-delete-icon-div{
    position: relative;
    margin: auto 0;
    width: 11px;
    height: 11px;
}

.social-item-delete-icon{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 11px;
    height: 11px;
}

.activated{
    background-color: #ff0000;
    color: white;
}

.activated:hover{
    color: #282828;
}

.activated:hover .social-item-icon{
    fill: #282828;
}

.activated:hover .social-item-delete-icon{
    fill: #282828;
}

.activated-icon{
    fill: white;
}
