{% extends "base.html" %}

{% block content %}

{% load static %}

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<h1>Create offer</h1>

<form class="form" method="POST" id="offer-creation-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
        <label for="image-input" class="form-label">
            Photo
            <img class="upload-image-icon" id="upload-image-icon" src="{% static 'images/TapToUploadPicture.png' %}"/>
        </label>
        <input id="image-input" class="image-input" name="image" type="file" onchange="previewImage(event)"/>
    </div>
    <div class="form-group row">
        <label for="title" class="col-4 col-form-label form-label">Title</label>
        <input type="text" required name="title" id="title" class="form-control col-8">
    </div>
    <div class="form-group">
        <label for="description">Description:</label>
        <textarea name="description" id="description" rows="4"></textarea>
    </div> 
    <div class="form-group">
        <label for="conditions">Conditions:</label>
        <textarea name="conditions" id="conditions" rows="4"></textarea>
    </div> 
    <div class="form-group">
        Method of receiving of product (You can choose both)
        Delivery: <input type="checkbox" name="delivery" id="delivery">
        In place: <input type="text" name='address' id='address' class='form-control' placeholder="Address">
    </div>
    <div class="form-group row">
        Valid until
        <input type="date" name="validity" id="validity">
    </div>
    <div class="form-group">
        <label for="languages">Languages of blog</label>
        <select id="languages" required name="languages" multiple class="custom-select">
        </select>
    </div>
    <div class="form-group">
        <label for="age_group">Age group</label>
        <select id="age_group" required name="age_group" class="custom-select">
            <option value="kids">Kids</option>
            <option value="teens">Teens</option>
            <option value="adults">Adults</option>
            <option value="old">Old</option>
        </select>
    </div>
    <div class="form-group">
        <label for="subscribers_number_groups">Number of subscribers</label>
        <select id="subscribers_number_groups" required multiple name="subscribers_number_groups" class="custom-select">
            <option value="1">Less than 10k</option>
            <option value="2">10k to 50k</option>
            <option value="3">50k to 200k</option>
            <option value="4">200k to 1m</option>
            <option value="5">1m to 5m</option>
            <option value="6">More than 5m</option>
        </select>
    </div>
    <div class="form-group">
        <label for="specializations">Specializations of blog (max 5)</label>
        <select id="specializations" required name="specializations" multiple class="multiselect custom-select">
        </select>
    </div> 
    <div class="form-group">
        Sex:
        <label for="sexM">Man</label>
        <input type="radio" name="sex" required id="sexM" value="M">
        <label for="sexW">Woman</label>
        <input type="radio" name="sex" required id="sexW" value="W">
        <label for="sexW">Any</label>
        <input type="radio" name="sex" required id="sexAny" value="ANY">
    </div>
    <div class="form-group">
        Way of partnership (You can choose both):
        Barter: <input type="checkbox" name="barter" id="barter">
        Max price $ you would pay: <input type="text" name='price' id='price' class='form-control'>
    </div>
    
    <button type='submit' class='btn btn-success'>Submit</button>
</form>

<script src="{% static 'js/offers-create.js' %}"></script>

{% endblock %}