{% extends "base.html" %}

{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

<!-- Modal Help -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      
    </div>
</div>

<div class="container offers-container" id="offers-container">
    <div class="dashboard-title">Dashboard of offers</div>
    <div class="alert">

    </div>
    <!-- <div class="offer-card col-lg-12 col-12">
        <div class="additional-price">
            $<div class="price">1000</div>
        </div>
        <div class="offer-card-inner">    
            <div class="media-part col-4">
                <div class="media-top-part">
                    <div class="image-div">
                        <img src="{% static 'images/image-placeholder-500x500.jpg' %}" class="image img-fluid">
                    </div>
                </div>
                <div class="media-bottom-part">
                    <a class="name col-6" href="#">
                        <div class="name-text">Company name</div>
                    </a>
                    <div class="logo-div col-6">
                        <img src="{% static 'images/image-placeholder-500x500.jpg' %}" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="text-part col-8">
                <div class="title-div">
                    <div class="title-inner title">
                        Title
                    </div>
                </div>
                <div class="main-details-div">
                    <div class="description-div col-6">
                        <div class="column-title">
                            Description
                        </div>
                        <div class="column-content">
                            <div class="column-content-inner description">Lasdfafasdfasdfasdfasdorem ipsum dolor sit amet consectetur adipisicisdfsdfsdfng elit. Debitis assumenda placeat iusto laborum itaque amet nihil inventore dolore ratione pariatur reprehenderit illo voluptatum ducimus, quod quia iste maxime dolores quisquam, voluptate maiores soluta perferendis numquam.</div>
                        </div>
                    </div>
                    <div class="conditions-div col-6">
                        <div class="column-title">
                            Conditions
                        </div>
                        <div class="column-content">
                            <div class="column-content-inner conditions">Lorem ipsum dolor sit amet consectetur adipisicing elit. Id tenetur blanditiis sed facilis eius repellendus, delectus veniam! Dignissimos possimus ea inventore. Ipsum fuga ratione ipsa recusandae id commodi! Dicta maiores maxime consequatur nob.</div>
                        </div>
                    </div>
                </div>
                <div class="secondary-details-div">
                    <div class="receiving-method col-6">
                        <div class="delivery-div">
                            <div class="delivery-label">Delivery</div>
                            <i class="fas fa-check delivery"></i>
                            <i class="fas fa-times delivery d-none"></i>
                        </div>
                        
                        <div class="address-div">
                            <div class="address-label">Pickup:&nbsp</div>
                            <div class="address">Svyazistov 11-144</div>
                        </div>
                    </div>
                    <div class="validity-div col-6">
                        <div class="validity-inner">
                            <div class="validity-label">Expires&nbsp</div> 
                            <div class="validity">13.04.2004</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="offer-action-buttons">
            <button class="action-btn"><i class="fas fa-times action-icon"></i></button>
            <div class="offer-action-title">Send a request?</div>
            <button class="action-btn"><i class="fas fa-check action-icon"></i></button>
        </div>
    </div> -->
</div>

<script>
    var csrftoken = "{{ csrf_token }}"
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}