{% extends "base.html" %}

{% load static %}

{% block base_title %}Dashboard{% endblock %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock %}

{% block content %}

<!-- Modal Help -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title">Modal Header</h4>
            </div>
            <div class="modal-body">
                <p>Some text in the modal.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
      
    </div>
</div>

<div class="container offers-container" id="offers-container">
    <div class="dashboard-title">Dashboard of offers</div>
    <div class="alert"></div>
</div>

<script>
    var csrftoken = "{{ csrf_token }}"
</script>

<script src="{% static 'js/dashboard.js' %}"></script>

{% endblock %}