{% extends "base.html" %}

{% load static %}

{% block base_title %}Offers{% endblock %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/offers.css' %}">
{% endblock %}

{% block content %}

<svg style="display: none;">
    <symbol id="plus" viewBox="0 0 480 480">
        <path d="M424,184H296V56c0-30.928-25.072-56-56-56c-30.928,0-56,25.072-56,56v128H56c-30.928,0-56,25.072-56,56
			c0,30.928,25.072,56,56,56h128v128c0,30.928,25.072,56,56,56c30.928,0,56-25.072,56-56V296h128c30.928,0,56-25.072,56-56
			C480,209.072,454.928,184,424,184z M424,280H288c-4.418,0-8,3.582-8,8v136c0,22.091-17.909,40-40,40c-22.091,0-40-17.909-40-40
			V288c0-4.418-3.582-8-8-8H56c-22.091,0-40-17.909-40-40s17.909-40,40-40h136c4.418,0,8-3.582,8-8V56c0-22.091,17.909-40,40-40
			c22.091,0,40,17.909,40,40v136c0,4.418,3.582,8,8,8h136c22.091,0,40,17.909,40,40S446.091,280,424,280z"/>
    </symbol>
</svg>

<div class="container">
    <div class="offers-header">
        <div class="offers-title">My offers</div>
    </div>
    
    <div class="offers-container" id="offers-container">
        <div class="offer-card-shell col-6">
            <div class="offer-card create-card">
                <div class="create-card-inner">
                    <div class="plus-icon-div col-4">
                        <svg class="plus-icon" id="people-icon">
                            <use xlink:href="#plus"></use>
                        </svg>
                    </div>
                    <div class="create-btn-text">
                        <div class="create-btn-text-lvl create-btn-text-lvl-1">create</div>
                        <div class="create-btn-text-lvl create-btn-text-lvl-2">new</div>
                        <div class="create-btn-text-lvl create-btn-text-lvl-3">offer</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="{% static 'js/offers.js' %}"></script>

{% endblock %}