{% extends "base.html" %}

{% load static %}

{% block base_head %}
<link rel="stylesheet" href="{% static 'css/offers.css' %}">
{% endblock %}

{% block content %}

<div class="container">
    <div class="offers-header">
        <div class="offers-title">My offers</div>
    </div>
    
    <div class="offers-container" id="offers-container">
        <div class="offer-card-shell col-6">
            <div class="offer-card create-card">
                <div class="create-card-inner">
                    <div class="plus-icon-div col-4">
                        <i class="fa fa-plus create-btn-icon" aria-hidden="true"></i>
                    </div>
                    <div class="create-btn-text">
                        <div class="create-btn-text-lvl create-btn-text-lvl-1">create</div>
                        <div class="create-btn-text-lvl create-btn-text-lvl-2">new</div>
                        <div class="create-btn-text-lvl create-btn-text-lvl-3">offer</div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<script src="{% static 'js/offers.js' %}"></script>

{% endblock %}