{% extends "base.html" %}

{% block content %}

{% load static %}

<div class='container'>
    <div class="row">
        <h2>Fill out the form or sign in via</h2>
        <button class="btn btn-primary">Facebook</button>
    </div>
    <form class="form" action="complete" method="POST" id="registration-form" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="image-input" class="form-label">
                Your photo
                <img class="upload-image-icon" id="upload-image-icon" src="{% static 'images/TapToUploadPicture.png' %}"/>
            </label>
            <input id="image-input" class="image-input" name="image" type="file" onchange="previewImage(event)"/>
        </div>
        <div class="form-group row">
            <label for="blog_name" class="col-4 col-form-label form-label">Blog name</label>
            <input type="text" required name="blog_name" id="blog_name" class="form-control col-8">
        </div>
        <div class="form-group row">
            <div class="form-label">Account in social networks</div>
            <button type='button' class="btn btn-info">Connect Instagram</button>
            <button type='button' class="btn btn-danger">Connect Youtube</button>
        </div>
        <div class="form-group">
            <input type="text" required name="email" class='form-control' placeholder="Email">
            <input type="text" required name="phone" class='form-control' placeholder="Phone">
        </div> 
        <div class="form-group">
            <label for="languages">Languages of blog</label>
            <select id="languages" required name="languages" multiple class="custom-select">

            </select>
        </div>
        <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" required name='country' id='country' class='form-control'>
            <label for="city">City:</label>
            <input type="text" required name='city' id='city' class='form-control'>
        </div> 
        <div class="form-group">
            <label for="specializations">Specializations of blog (max 3)</label>
            <select id="specializations" required name="specializations" multiple class="multiselect custom-select">

            </select>
        </div> 
        <div class="form-group">
            Sex:
            <label for="sexM">Man</label>
            <input type="radio" name="sex" required id="sexM" value="M">
            <label for="sexW">Woman</label>
            <input type="radio" name="sex" required id="sexW" value="W">
        </div>
        <div class="form-group row">
            Birthday:

            <select name="month" onchange="enterDay()" required class="custom-select col-1">
                <option value="1" selected>Jan</option>
                <option value="2">Feb</option>
                <option value="3">Mar</option>
                <option value="4">Apr</option>
                <option value="5">May</option>
                <option value="6">Jun</option>
                <option value="7">Jul</option>
                <option value="8">Aug</option>
                <option value="9">Sep</option>
                <option value="10">Oct</option>
                <option value="11">Nov</option>
                <option value="12">Dec</option>
            </select>
            
            <select name="day" required class="custom-select col-1">
            </select>
            
            <select name="year" required onchange="enterDay()" class="custom-select col-1">
            </select>
        </div>
            
        <div class="from-group row">
            <input type="checkbox" id="" required>
            I have read, understood and accepted
            <a href="/terms-of-use" target="_blank"> the terms of the user agreement</a>
        </div>
        
        <button type='submit' class='btn btn-success'>Submit</button>
    </form>
</div>
    
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="{% static 'js/blogger-registration.js' %}">

</script>

{% endblock %}
