{% extends "base.html" %}

{% block base_title %}Password reset{% endblock %}

{% block content %}
<div class='container text-center'>
  <h1 class="my-5">Reset your Password</h1>
  <form method="post" action="" class="col-4 mx-auto">
    {% csrf_token %}
    <div class="form-group">
      <input type="email" class="form-control" name="email" autocomplete="email" maxlength="254" placeholder="Email" required="" id="id_email">
    </div>
    <button type="submit" class="btn btn-info">Reset Password</button>
  </form>
</div>
{% endblock %}
