{% extends "base.html" %}

{% block base_title %}Password reset confirm{% endblock %}

{% block content %}
<div class='container'>
    <div class='col-md-7 col-10 my-5 mx-auto'>
        <h1 class="text-center my-5">Set your Password</h1>
        <form method='post' action=''>
          {% csrf_token %}
          <div class="form-group row">
            <label for="id_new_password1" class="form-label col-lg-3 my-auto">New password:</label>
            <input type="password" class="form-control col-lg-9" name="new_password1" autocomplete="new-password" required="" id="id_new_password1"> 
          </div>
          <ul>
            <li>Your password can’t be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can’t be a commonly used password.</li>
            <li>Your password can’t be entirely numeric.</li>
          </ul>
          <p></p>
          <ul class="errorlist">
            {% for field, errors in form.errors.items %}
              {% for error in errors %}
              <li>{{ error }}</li>
              {% endfor %}
            {% endfor %}
          </ul>
          
          <div class="form-group row">
            <label for="id_new_password2" class="form-label my-auto col-lg-3">Confirm password:</label> 
            <input type="password" class="form-control col-lg-9" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
          </div>
          <div class="row">
            <button type="submit" class='btn btn-info mx-auto my-3'>Set new password</button>
          </div>
        </form>
      </div>
</div>
{% endblock %}
